@font-face {
	font-family: "Suissnord";
	src: url(../font/Suissnord.otf) format("opentype");
}
.logo {
	font-family: 'Yantramanav';
}

.hide-bullets {
	list-style:none;
	margin-left: -40px;
	margin-top:20px;
}
.footer {
	padding-top: 1.5rem;
	color: #777;
	border-top: .05rem solid #e5e5e5;
}
pre {
	tab-size: 8;
}

body {
          padding-top: 50px;
          position: relative;
      }
      
      pre {
          tab-size: 8;
      }
      
      @media screen and (max-width: 768px) {
          .side-collapse-container{
              width:100%;
              position:relative;
              left:0;
              transition:left .4s;
          }
          .side-collapse-container.out{
              left:200px;
          }
          .side-collapse {
              top:50px;
              bottom:0;
              left:0;
              width:200px;
              position:fixed;
              overflow:hidden;
              transition:width .4s;
          }
          .side-collapse.in {
              width:0;
          }
      }
}
.icon-frice-background {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}
.icon-frice {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 1.33333333em;
  line-height: 1.77777777em;
}
.icon-frice:before {
  content: "\00a0";
}
.logo-icon {
  	background-image: url(../img/logo.png);
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #00A136;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #00A136;
}
.navbar-default, .navbar-default .navbar-form {
    border-bottom-color: #08D24C;
}
.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: #fff;
    background-color: #00A136;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover {
    color: #FFFFFF;
    background-color: #00A136;
}
.mapa {
  width: 100%;
  height: 600px;
}
.fondos {
  background-image: url(../img/fondo.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.banneroscuro {
  margin-top: 10px;
  width: 100%;
  height: 500px;
  background-color:rgba(0, 0, 0, 0.6);
}